<ion-view title="About us" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/St9r2YAoTdG6AeXQaLDF_mali.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="aboutUs-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#747474;">This is a non-profit making organisation founded by Al-Haz Md. Abdul Wadud (Kola) in order to serve patients from different classes, especially poor and the poorest. The medical centre is well equipped with the necessary apparatus needed for primary
        treatment in remote areas. We see patients, provide advice, and give prescriptions and medicine free of charge.</p>
    </div>
    <div>
      <img src="img/OrokMECFS4GtZrW4wsmN_about.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="aboutUs-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#747474;">Up to 31st December 2016 we have served 39,427 people. We help people not only with medical matters, but also on occasion clothing for the poorest people and we provide school uniforms and essentials to local schools.</p>

      <p style="color:#747474;">The establishment also provides a monthly pension scheme (probably the first of its kind in Bangladesh), which at present offers 25 elderly people 200 Taka per month.</p>

      <p style="color:#747474;">The centre has created a number of jobs for local people and volunteer training to improve their future prospects.</p>

      <p style="color:#747474;">The centre provides homes for needy people in the local area, including those who are disabled, elderly, very poor, jobless or seriously ill.</p>
    </div>
  </ion-content>
</ion-view>