<ion-view title="Founder desk" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Si3DTaQyQD2vfJz5HbfO_steve.jpg" style="display: block; width: 33%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="founderDesk-heading6" style="color:#747474;text-align:center;">Mr. Wadud</h3>
    <h4 id="founderDesk-heading7" style="color:#747474;text-align:center;">Founder &amp; Director</h4>
    <div id="founderDesk-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#747474;">Founder and managing director Mr. Wadud was born in Sylhet, Bangladesh. His primary and secondary education took place in Sylhet. He came to London in 1972 with his family, then studied at college. Later he worked for a leading retail company for
        16 years, gaining a position in senior management. Mr Wadud went on to run his own successful business for 14 years. He is married with three children.</p>

      <p style="color:#747474;">Now in semi-retirement, Mr Wadud fills some of his leisure hours with part-time employment. From a young age he has been involved in social activities and voluntary work for a number of organisations. Now having the time to do some valuable work
        for the needy people in his original home, Mr Wadud has been able to establish the medical centre in Bohorgram (Majorbari), Golapgonj, Sylhet.</p>

      <p style="color:#747474;">The medical centre has been given his late father's name. Mr. Wadud and his family provide financial support to the medical centre. We do not receive any funds from anywhere else.</p>
    </div>
  </ion-content>
</ion-view>