<ion-view title="Latest news" id="page2">
  <ion-content padding="true" class="has-header">
    <h2 id="latestNews-heading2" style="color:#747474;">The Latest news</h2>
    <div class="list card" id="latestNews-card22">
      <ion-item class="item-avatar assertive" id="latestNews-list-item19">
        <img src="img/Ss0LlYrHRGmMaB0ddYJP_mali.jpg">
        <h2assertive>Winter clothes distributution</h2assertive>
      </ion-item>
      <div class=" item item-image">
        <img src="img/gFUNmUeORy6KeRnKAz11_img_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="latestNews-list-item-container4"></div>
      <h5 id="latestNews-heading3" style="color:#747474;text-align:center;">18/01/2018</h5>
      <ion-item class="item-icon-left assertive" id="latestNews-list-item20">
        <i class="icon ion-eye"></i>Find out more</ion-item>
    </div>
    <div class="list card" id="latestNews-card24">
      <ion-item class="item-avatar assertive" id="latestNews-list-item25">
        <img src="img/Ss0LlYrHRGmMaB0ddYJP_mali.jpg">
        <h2assertive>Medical centre update</h2assertive>
      </ion-item>
      <div class=" item item-image">
        <img src="img/wMBtXCceR8OcNfKdVkda_img_3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="latestNews-list-item-container6"></div>
      <h5 id="latestNews-heading5" style="color:#747474;text-align:center;">10/01/2018</h5>
      <ion-item class="item-icon-left assertive" id="latestNews-list-item26">
        <i class="icon ion-eye"></i>Find out more</ion-item>
    </div>
  </ion-content>
</ion-view>