<ion-view title="Services" id="page6">
  <ion-content padding="true" class="has-header">
    <h2 id="services-heading8" style="color:#747474;">Our Services</h2>
    <h3 id="services-heading9" style="color:#747474;">Medical Care</h3>
    <div>
      <img src="img/D8Zzl44TzmGHf07cW6ay_medical.jpg" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="services-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#747474;">Patients are seen on a regular basis. Doctors advise and prescribe medicines where appropriate. We see all types of people from the very youngest to the elderly.</p>

      <p style="color:#747474;">The medical centre is in the village and is easily accessible and totally free. Every twelve weeks we bring specialist doctors to the village to care for difficult cases.</p>
    </div>
    <h3 id="services-heading13" style="color:#747474;">Clothing</h3>
    <div>
      <img src="img/oYJZfP5PQPi3N036qYRv_school.jpg" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="services-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#747474;">We provide clothes to the needy. This is especially important after the fasting months to the poorest people. We also provide uniforms and essentials to local schoolchildren.</p>
    </div>
    <h3 id="services-heading12" style="color:#747474;">Pensions</h3>
    <div id="services-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#747474;">We provide a monthly pension scheme to the elderly. This is probably the first such scheme in Bangladesh to be run by an individual. At present the centre gives 200 Taka per month. The scheme is very popular and the pension is beneficial for daily
        needs.</p>
    </div>
    <h3 id="services-heading10" style="color:#747474;">Houses for the Homeless</h3>
    <div>
      <img src="img/vmMbitsjTSOlfA9zcPTo_home.jpg" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="services-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#747474;">The centre is providing homes for poor, handicapped or needy people in the locality who would not otherwise be able to afford housing. The application form (shown opposite) must be completed. Once the application has been received, we assess the
        needs of the candidate.</p>
    </div>
  </ion-content>
</ion-view>